<!-- Navigation -->
<nav class="side pole">
    <div class="navigation">
      <ul></ul>
    </div>
  </nav>
  
  <!-- Panel Top #08 -->
  <nav class="panel top">
    <div class="sections desktop">
      <div class="left"><a href="#" title="Slides Framework"><svg style="width:82px;height:24px"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#logo"></use></svg></a></div>
      <div class="center">
        <ul class="menu">
          <li><a href="{% url 'landing:home' %}">Home</a></li>
          <li><a href="{% url 'landing:home' %}#proceed">How we proceed</a></li>
          <li><a href="{% url 'landing:home' %}#cases">Use cases</a></li>
          <li><a href="{% url 'landing:home' %}#ebook">Download</a></li>
          <li><a href="{% url 'landing:home' %}#contact">Contact</a></li>
          <li><a href="{% url 'landing:home' %}#about">About</a></li>
        </ul>
      </div>
      <div class="right">
        <ul class="menu">
          {% if user.is_authenticated %}
            <li><a>Hi {{user.email}}</a></li>
            <li><a href="{% url 'account_logout' %}">Logout</a></li>
          {% else %}
          <li><a href="{% url 'account_login' %}">Login</a></li>
          <li><a href="{% url 'account_signup' %}">Register</a></li>
          {% endif %}
        </ul>
        
        <!--a class="button green gradient" href="https://freehtml5.co/slides" target="_blank">Get App</a-->
      </div>
    </div>
    <div class="sections compact hidden">
      <div class="left"><a href="#" title="Slides Framework"><svg style="width:82px;height:24px"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#logo"></use></svg></a></div>
      <div class="right"><span class="button actionButton sidebarTrigger" data-sidebar-id="1"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu"></use></svg></span</div>
    </div>
  </nav>